<section class="row pdb-0 mgb-0">
    <div class="col hide-on-small-only m6 card valign-wrapper">
        <div class="center-block">
            <img src="/assets/login.svg" width="350">
        </div>
    </div>
    <div class="col m6 card valign-wrapper center-align">
        <mat-card style="box-shadow: none; border-radius: 0;">
            <mat-card-title>
                <h4 class="blue-grey-text text-darken-2 font">Welcome, to USIP</h4>
            </mat-card-title>
            <mat-card-content>
                <form class="row pd-20 center" (submit)="submit()" [formGroup]="loginForm">
                    <mat-form-field class="col m10 offset-m1 s12">
                        <mat-label>Username</mat-label>
                        <mat-icon matPrefix class="indigo-text">person</mat-icon>
                        <input matInput formControlName="userName" placeholder="Username" type="text" required />
                    </mat-form-field>

                    <mat-form-field class="col m10 offset-m1 s12">
                        <mat-label>Password</mat-label>
                        <mat-icon matPrefix class="indigo-text">vpn_key</mat-icon>
                        <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'" required>
                        <mat-icon matSuffix class="grey-text pointer" (click)="hide = !hide">
                            {{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>

                    <button type="submit" class="indigo darken-1 white-text col s4 offset-s4" [class.lighten-4]="loading" mat-button [disabled]="!loginForm.valid">
                        {{loading ? "Loading.." : "Login"}}
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</section>