<div class="pd-5"></div>
<div class="pd-20 grey lighten-5">
    <span>Update Password</span>
    <mat-icon class="right">lock</mat-icon>
</div>
<br>
<form [formGroup]="updatePassword" class="row" (submit)="submitForm()">
  <mat-form-field class="col s12">
    <mat-label>Current Passowrd</mat-label>
    <input matInput type="password" placeholder="password" formControlName="password" required>
  </mat-form-field>
  
  <mat-form-field class="col s12">
    <mat-label>New Passowrd</mat-label>
    <input matInput type="password" placeholder="new Password" formControlName="newPassword" required>
  </mat-form-field>
  
  <mat-form-field class="col s12">
    <mat-label>Confirm Passowrd</mat-label>
    <input matInput type="password" placeholder="confirm password" formControlName="confirmPassword" required>
  </mat-form-field>

  <button mat-button [disabled]="!updatePassword.valid" class="col s12 red white-text" type="submit">Submit</button>
  
</form>