<div class="container row">
    <div class="col m6 s12">
        <mat-card class="mg-10 height-500">
            <mat-card-title class="mat-h2">
                Public Notifications
                <mat-icon class="indigo-text right">people</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div *ngIf="pNotification.length>0">
                    <div *ngFor="let item of pNotification">
                        <h5>{{item.title}}</h5>
                        <p>{{item.description}}</p>
                        <span class="right grey-text">{{item.date | date:shortDate}}</span>
                        <br><br>
                    </div>
                </div>
                <app-no-data *ngIf="pNotification.length == 0" [text]="'No Public Notifications found'" #noPNoti>
                </app-no-data>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col m6 s12">
        <br class="hide-on-med-and-up">
        <mat-card class="mg-10 height-500">
            <mat-card-title class="mat-h2">
                Intern Notifications
                <mat-icon class="indigo-text right">person</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div *ngIf="internNotification.length>0">
                    <div *ngFor="let item of internNotification">
                        <h5>{{item.title}}</h5>
                        <p>{{item.description}}</p>
                        <span class="right grey-text">{{item.date | date:shortDate}}</span>
                        <br><br>
                    </div>
                </div>
                <app-no-data [text]="'No Intern Notifications found'" *ngIf="internNotification.length == 0">
                </app-no-data>
            </mat-card-content>
        </mat-card>
    </div>
</div>