<div class="container row">
    <div class="col m6 s12">
        <mat-card class="mg-10 height-500">
            <mat-card-title class="mat-h2">
                Public Notifications
                <mat-icon class="indigo-text right">people</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <table *ngIf="pNotification.length > 0" class="highlight">
                    <tbody>
                        <tr *ngFor="let noti of pNotification">
                            <td>{{noti.title}}
                                <div class="right grey-text small-font">{{noti.date | date:shortDate}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-no-data *ngIf="pNotification.length == 0" [text]="'No Public Notifications found'" #noPNoti></app-no-data>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col m6 s12">
        <br class="hide-on-med-and-up">
        <mat-card class="mg-10 height-500">
            <mat-card-title class="mat-h2">
                Intern Notifications
                <mat-icon class="indigo-text right">person</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <table *ngIf="internNotification.length > 0" class="highlight">
                    <tbody>
                        <tr *ngFor="let noti of internNotification">
                            <td>{{noti.title}}
                                <div class="right grey-text small-font">{{noti.date | date:shortDate}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-no-data [text]="'No Intern Notifications found'" *ngIf="internNotification.length == 0"></app-no-data>
            </mat-card-content>
        </mat-card>
    </div>
</div>