<div class="navbar-fixed">
    <nav class="black-text" id="main-nav">
        <div class="nav-wrapper">
            <a routerLink="/home" class="main-brand pointer">
                <span class="purple-text text-darken-4" style="font-size: 20px;">
                    <strong>USIP DTU</strong>
                </span>
            </a>
            <button (click)="show_navbar = !show_navbar" mat-icon-button class="hide-on-large-only right sidenav-button mg-10">
                <mat-icon>menu</mat-icon>
            </button>
            <ul class="right hide-on-med-and-down black-text">
                <li><a routerLink="/home/notification" class="black-text" routerLinkActive="white-text purple darken-4">Notification</a> </li>
                <li><a routerLinkActive="white-text purple darken-4" routerLink="/home/register" class="black-text ">Internship Application</a></li>
                <li><a routerLink="/home/login" class="black-text" routerLinkActive="white-text purple darken-4">Login</a></li>
            </ul>
        </div>
    </nav>
    <div *ngIf="show_navbar" class="white hide-on-large-only" id="side-nav-container">
        <div id="top-chip" class="white float-right"></div>
        <mat-list>
            <mat-list-item class="pointer" routerLink="/home/notification">
                <a class="black-text">Notification</a>
            </mat-list-item>
            <mat-list-item class="pointer" routerLink="/home/login" *ngIf="!admin && !intern">
                <a class="black-text">Login</a>
            </mat-list-item>
            <mat-list-item routerLink="/home/register" *ngIf="!admin && !intern" class="pointer">
                <a class="black-text">Apply</a>
            </mat-list-item>
        </mat-list>
    </div>
</div>