<div class="pd-20 grey lighten-5">
    <span>Bank Details</span>
    <mat-icon class="right blue-text text-darken-1">account_balance_wallet</mat-icon>
</div>
<div class="pd-20">
    <form>
        <div class="row">
            <div class="col l6 m6 s12">
                <div class="row">
                    <mat-form-field class="col s12 m12">
                        <mat-label>Bank Name</mat-label>
                        <input type="text" name="bankName" [(ngModel)]="data.bankName" matInput placeholder="State Bank of India" required>
                    </mat-form-field>
                    <mat-form-field class="col s12 m8">
                        <mat-label>Bank Account Number</mat-label>
                        <input type="text" name="bankAc" [(ngModel)]="data.bankAc" matInput placeholder="account number" required>
                    </mat-form-field>
                    <mat-form-field class="col s12 m4">
                        <mat-label>IFSC code</mat-label>
                        <input type="text" matInput name="ifsc" [(ngModel)]="data.ifsc" placeholder="SBIN0010442" required>
                    </mat-form-field>
                    <mat-form-field class="col s12 m12">
                        <mat-label>Contact Number</mat-label>
                        <input type="number" name="phone" [(ngModel)]="data.phone" disabled matInput placeholder="8586821051" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="col m6 s12 center">
                <div class="row">
                    <mat-form-field class="col s12 m12">
                        <mat-label>Email</mat-label>
                        <input type="email" name="email" [(ngModel)]="data.email" disabled matInput placeholder="abc123@gmail.com" required>
                    </mat-form-field>
                    <button mat-raised-button type="submit" [mat-dialog-close]="data" cdkFocusInitial class="col mg-20 s12 m8 offset-m2 white-text red">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>