<section class="back">
    <app-navbar></app-navbar>
    <div class="container main-container center">
        <div class="main-heading left-align">
            <h1 style="font-weight: 500;">University</h1>
            <h2>Student Internship Programme</h2>
        </div>
        <div class="button-container left-align">
            <button class="home-button waves-effect waves-light indigo white-text" routerLink="/register">Apply for Internship</button>
        </div>
    </div>
</section>
<!-- <section class="section center container">
    <div class="row">
        <div class="row valign-wrapper">
            <div class="col s12 m5 left-align message-container">
                <h4 class="indigo-text text-darken-3">Message from Vice Chancellor</h4>
                <p class="pd-0 mg-0 message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, voluptate? Molestiae sint illum ipsam quo odit impedit inventore recusandae ipsa suscipit cumque, aspernatur tenetur aperiam ratione incidunt ex totam repudiandae!</p>
                <p class="pd-0 mg-0 signature grey-text">Prof. Yogesh Singh</p>
                <p class="pd-0 mg-0 designation indigo-text text-lighten-3">Vice Chancellor, DTU</p>
            </div>
            <div class="col s12 m7">
                <img src="/assets/vc-sir.png" width="550px" class="circle responsive-img">
            </div>
        </div>
        <div class="row valign-wrapper">
            <div class="col m7 s12">
                <img src="/assets/pro-vc.png" width="550px" class="circle responsive-img">
            </div>
            <div class="col m5 s12 left-align message-container">
                <h4 class="indigo-text text-darken-3">Message from Vice Chancellor</h4>
                <p class="mg-0 pd-0 message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, voluptate? Molestiae sint illum ipsam quo odit impedit inventore recusandae ipsa suscipit cumque, aspernatur tenetur aperiam ratione incidunt ex totam repudiandae!</p>
                <p class="mg-0 pd-0 signature grey-text">Prof. Yogesh Singh</p>
                <p class="mg-0 pd-0 designation indigo-text text-lighten-3">Vice Chancellor, DTU</p>
            </div>
        </div>
    </div>
</section> -->

<!--footer of the page all content above this only!!-->
<app-footer></app-footer>