<section class="back">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container white-text">
            <br><br><br><br>
            <h2>USIP - DTU</h2>
            <h3>University Student Internship Program</h3>
            <div class="button-container">
                <button class="home-button waves-effect waves-grey white purple-text text-darken-4" routerLink="/home/register">
                    Apply for Internship
                </button>
            </div>
            <br><br><br>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" style="transform: translateY(30px)" class="hide-on-med-and-down" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1"
            d="M0,160L120,165.3C240,171,480,181,720,170.7C960,160,1200,128,1320,112L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
        </path>
    </svg>
</section>
<br>
<section class="container">
    <div class="row">
        <div class="col s12 m6">
            <img src="/assets/about.png" class="responsive-img" alt="usip about us image">
        </div>
        <div class="col s12 m6">
            <h4 class="purple-text text-darken-4">About USIP</h4>
            <p class="lead" style="font-size: 18px;">
                Delhi Technological University proposes to launch University Student Internship Program (USIP) to engage DTU students in various activities of the university. The impetus of the program is to provide opportunity to expose students to real life environment
                and to help university in improving processes and outcome of the activities undertaken time to time. The student interns are required to work for eight hours a week including weekends and holidays, and will be paid Rs. 2500/- per month.
            </p>
            <button class="waves-effect waves-light purple darken-3 white-text" mat-button routerLink="/home/register">
                Apply for Internship
            </button>
        </div>
    </div>
</section>