<section class="back">
    <div class="container row valign-wrapper">
        <div class="pd-20">
            <br><br> <br><br>
            <div class="main-heading">
                <h1 style="font-weight: 500;">University</h1>
                <h2>Student Internship Programme</h2>
            </div>
            <div class="button-container">
                <button class="home-button waves-effect waves-light indigo white-text" routerLink="/home/register">
                    Apply for Internship
                </button>
            </div>
        </div>
    </div>
    <!-- <svg class="border_bottom hide-on-med-and-down" viewBox="0 0 1440 320">
        <path fill="#000" fill-opacity="1" d="M0,288L80,277.3C160,267,320,245,480,224C640,203,800,181,960,176C1120,171,1280,181,1360,186.7L1440,
192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
    </svg> -->
</section>