<!-- <footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Conatct Us</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <h6 class="white-text">University Student Internship Programme</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#about">About Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#why">Why USIP</a></li>
                    <li><a class="grey-text text-lighten-3" routerLink="/login">Login</a></li>
                    <li><a class="grey-text text-lighten-3" routerLink="/register">Apply</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->
<div class="footer-copyright indigo darken-4 white-text">
    <div class="container">
        © 2018 All Rights Reserved
        <a class="right" href="#!">Developer <i class="fa fa-laptop"></i> Sachin Duhan</a>
    </div>
</div>